.barGraph{
    border: 1px solid;
    align-items: 'center';
    margin-left: 16px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
}

.button-row1{
    display: flex;
    flex-flow: column;
}
