.header{
    background-color: lightslategrey;
    text-align: center;   
}
.content{
    font-size: 20px;
    margin-top: 15px;
    font-weight: 700;
    margin-left: 10px;
}
.graph{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
}




